<html>
	<head>
		<title>Who will you sing?</title>
	</head>
	<body>
		<h1>Song: Alexander Hamilton</h1>
		How many people are singing?

		<form method="POST" action="/numberOfSingers">
			<select name="numberOfSingers">
				<% for (var i = 1 ; i < numberOfCharacters+1 ; i++) { %>
					<option value="<%= i %>"><%= i %></option>
				
				<% } %>
			</select>
			<button type="submit">Let's go!</button>
		</form>
		<p>
		</p>
	</body>
</html>